KillAura:AUTOBLOCK:false
KillAura:RANGE:3.9
KillAura:MINAPS:7
KillAura:MAXAPS:9
KillAura:HITCHANCE:80
KillAura:MODE:Single
KillAura:AUTOBLOCKMODE:Basic1
KillAura:ROTATIONS:Smooth
KillAura:WALLS:false
Speed:MODE:AAC
Criticals:MODE:Jump
AntiVelocity:MODE:AACPush
NoSlowdown:MODE:AAC
Scaffold:MODE:AAC
Scaffold:TOWERMODE:AAC
Scaffold:TOWERMOVE:true
Scaffold:AACTOWER:1
Scaffold:EXPAND:0
InvManager:MODE:OpenInv
InvManager:Delay:2
Step:MODE:AAC
Step:DELAY:0
Step:TIMER:0.25
ChestStealer:DELAY:3
HighJump:MODE:AAC
FastLadder:MOTION:0.253
InvMove:MODE:AACP
FEM:InvMove
FEM:Sprint
FEM:FastLadder
FEM:NoSlowdown
DIS:NoFall
DIS:Criticals
