Scaffold:MODE:Cubecraft
Scaffold:TOWER:true
Scaffold:TOWERMODE:Cubecraft
Scaffold:TOWERMOVE:false
Scaffold:EXPAND:0
Scaffold:PICKER:false
Scaffold:LEGIT:1.05
LongJump:MODE:Cubecraft
Killaura:MODE:Multi2
KillAura:MINAPS:7
KillAura:MAXAPS:10
Killaura:AUTOBLOCKMODE:NCP
Killaura:PRIORITY:Range
Killaura:ROTATIONS:Basic
Killaura:AUTOBLOCK:true
Killaura:RANGE:6.5
Killaura:INVISIBLES:true
Killaura:PLAYERS:true
Killaura:OTHERS:true
KillAura:WALLS:true
Step:MODE:Cubecraft
Step:HEIGHT:3
Step:DELAY:0
AutoArmor:MODE:OpenInv
Criticals:MODE:Minis
NoSlowDown:MODE:NCP
AntiVelocity:MODE:Basic
InvManager:MODE:OpenInv
InvManager:DELAY:1
Speed:MODE:Cubecraft
InvManager:DELAY:1
ChestStealer:DELAY:1
ChestStealer:FIRST:9
ChestStealer:MODE:Basic
Fly:MODE:Cube1
Phase:MODE:NCP
Jesus:MODE:Basic
FastLadder:MOTION:0.373
AntiVelocity:HORIZONTAL:0
AntiVelocity:VERTICAL:0
AutoGG:MODE:Cubecraft
FastUse:MODE:Packet
FastUse:TICKS:16
InvMove:MODE:Cubecraft
CakeEater:MODE:Basic
FEM:InvMove
FEM:ChestStealer
FEM:Criticals
FEM:FastUse
FEM:NoSlowDown
FEM:InvManager
FEM:AutoArmor
FEM:AntiVelocity
FEM:Jesus
FEM:FastLadder
FEM:Step
DIS:NoFall
DIS:AntiFall
DIS:AntiBot