AntiBot:MODE:Hypixel
AntiBot:KILLER:true
KillAura:AUTOBLOCK:true
KillAura:RANGE:4.2
KillAura:MINAPS:8
KillAura:MAXAPS:10
KillAura:HITCHANCE:100
KillAura:MODE:Single
KillAura:WALLS:true
KillAura:AUTOBLOCKMODE:Hypixel
CakeEater:MODE:Basic
LongJump:MODE:Hypixel
Speed:MODE:Hypixel
Criticals:MODE:Minis
Highjump:MODE:Hypixel
Highjump:BOOST:1.8
AntiVelocity:MODE:Basic
NoSlowdown:MODE:Hypixel
Fly:MODE:Hypixel
InfiniteAura:MODE:Hypixel
InfiniteAura:MAXTARGET:1
InfiniteAura:CPS:2
InfiniteAura:TIMER:2
Scaffold:MODE:Hypixel
Scaffold:TOWERMODE:Hypixel
Scaffold:TOWERMOVE:true
Scaffold:EXPAND:0.6
NoFall:MODE:Hypixel
Jesus:MODE:Dolphin
Phase:MODE:FullBlock
InvManager:DELAY:5
AutoArmor:MODE:Basic
Step:MODE:NCP
Step:DELAY:0
Step:TIMER:0.6
InvMove:MODE:Basic
AntiFall:MODE:Hypixel
AntiFall:VOID:true
AntiFall:DIST:7
Criticals:MODE:HMinis
AutoGG:MODE:Hypixel
ChestStealer:DELAY:3
ChestStealer:MODE:Hypixel
AntiVelocity:HORIZONTAL:0
AntiVelocity:VERTICAL:0
Disabler:MODE:Hypixel
FEM:InvMove
FEM:AntiBot
FEM:NoFall
FEM:NoSlowdown
FEM:Criticals
FEM:ChestStealer
FEM:AntiVelocity
FEM:Jesus
FEM:Sprint
FEM:AntiFall
FEM:Step
DIS:FastUse
DIS:FastLadder