AntiBot:MODE:Mineplex
KillAura:AUTOBLOCK:true
KillAura:AUTOBLOCKMODE:NCP
KillAura:RANGE:4.7
KillAura:MINAPS:8
KillAura:MAXAPS:9
KillAura:HITCHANCE:100
KillAura:MODE:Multi2
KillAura:WALLS:true
LongJump:MODE:Mineplex
AntiVelocity:MODE:Basic
Speed:MODE:MineplexHop
Highjump:MODE:Mineplex
NoSlowdown:MODE:NCP
Scaffold:MODE:Mineplex
Scaffold:TOWERMODE:Normal
Scaffold:EXPAND:0
NoFall:MODE:Vanilla
Step:MODE:Cubecraft
Step:TIMER:1
Step:DELAY:0
Criticals:MODE:Jump
AntiVelocity:HORIZONTAL:0
AntiVelocity:VERTICAL:0
InvMove:MODE:Basic
CakeEater:MODE:Mineplex
Spider:MODE:Mineplex
AutoGG:MODE:Mineplex
FEM:CakeEater
FEM:AntiBot
FEM:InvMove
FEM:NoFall
FEM:NoSlowdown
FEM:AntiVelocity
FEM:Sprint
DIS:Criticals
DIS:Fly