KillAura:AUTOBLOCK:true
KillAura:AUTOBLOCKMODE:NCP
KillAura:RANGE:4.2
KillAura:MINAPS:9
KillAura:MAXAPS:10
KillAura:HITCHANCE:100
KillAura:MODE:Single
KillAura:ROTATIONS:Basic
KillAura:WALLS:true
Speed:MODE:Bhop
Jesus:MODE:Dolphin
Criticals:MODE:Minis
Criticals:HURTTIME:15
AntiVelocity:MODE:Basic
NoSlowdown:MODE:NCP
Scaffold:MODE:Normal
Scaffold:TOWERMODE:Normal
Scaffold:TOWERMOVE:false
NoFall:MODE:Normal
InvManager:MODE:Basic
InvManager:DELAY:1
Step:MODE:NCP
Step:TIMER:0.75
Step:DELAY:0
ChestStealer:DELAY:1
ChestStealer:MODE:Basic
LongJump:MODE:NCP
FastUse:MODE:Packet
FastUse:TICKS:16
InvMove:MODE:Basic
CakeEater:MODE:Basic
Phase:MODE:NCP
FEM:FastUse
FEM:Criticals
FEM:NoSlowdown
FEM:Sprint
FEM:Jesus
FEM:AntiVelocity
FEM:InvMove
FEM:Step
DIS:FastLadder
