Nofall:MODE:Normal
Fly:MODE:Guardian
Speed:MODE:Guardian
FastBow:MODE:Guardian
NoSlowDown:MODE:Vanilla
AntiVelocity:MODE:Basic
Step:MODE:Vanilla
Step:HEIGHT:3
KillAura:REACH:4.2
KillAura:AUTOBLOCK:True
KillAura:HITCHANCE:100
KillAura:AUTOBLOCKMODE:Basic
KillAura:MINAPS:6
KillAura:MAXAPS:9
KillAura:WALLS:TRUE
Criticals:MODE:Jump
FEM:Nofall
FEM:NoSlowDown
FEM:Step
FEM:AntiVelocity
Speed:MODE:Guardian
Fly:MODE:Guardian
FEM:InfiniteAura